*unblind_fits/
__pycache__/
logs/
*.tgz
results_before_unblinding/
docker_stderror
data.txt
debug_gof_unblind/
condor/fits/
failed_*.txt
plots/
condor/limits/
condor/*.txt
*.pdf
*.txt
*.png
*.log
fitDiagnosticsTest_*.root
higgsCombineTest*.root
